*:root {
    --primary: #FEFEFE;
    --secondary: #232224;
    --tertiary: #CA69F9;
    --accent1: #423D47;
    --accent2: #EFECF0;
    --black: #000000;
    --line-p: #AEAAAF;
}
body {
    margin: 0;
    padding: 0;
    color: var(--secondary);
    font-weight: 300;
}
h1,h2,h3,h4,h5 {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
}
a {
    text-decoration: none;
}
p, a {
    font-family: 'Inter';
    color: var(--secondary);
} 
h1 {
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.125rem;
}
h5 {
    font-size: .875rem;
}

.p1 {
    font-size: 1rem;
}
.p2 {
    font-size: .875rem;
}
.p3 {
    font-size: .75rem;
}

.bold {
    font-weight: 600;
}
.uppercase {
    text-transform: uppercase;
}
.logo-wrapper {
    max-height: 7rem;
    text-align: center;
    border-bottom: 1px solid  var(--line-p);
    display: flex;
    justify-content: center;
    
    padding: 1rem 0;    
}
.home-link {
    width: 4em;
}
.logo-full {
    display: none;
    height: 100%;
}
.logo-small {
    height: 100%;
}
.hamburger-wrapper {
    position: absolute;
    left: 1.25rem;
    top: 2rem;
    height: 10rem;
}
.hamburger-wrapper:hover {
    cursor: pointer;
}
.hamburger__line {
    background: var(--black);
    width: 2.5rem;
    height: .25rem;
    margin: .5rem 0;
    border-radius: 100vmax;
}


.artist-mode-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.select-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}
.choice-wrapper {
    position: absolute;
        
    top:2.5rem;    width: 50%;
}
.select__prompt {
     height: 1.5rem;
    background: var(--accent1);
    width: 100%;
    border-radius: 5px;
}
.select__artist {
    height: 1.5rem;
    background: var(--accent1);
    color: var(--primary);
    width: 100%;
    border-radius: 5px;
    padding: 0.25rem 0;
    border: .25px solid var(--primary);
    text-align: left;
    cursor: pointer;

}
.select__choice:hover {
    opacity: .8;
}
